{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
{% for article in art %}
  <div class="col-md-3 mb-5 mt-5 card wrapper">
  <div class="card-body">
    <h5 class="card-title title">{{article.title}}</h5>
    <p class="card-text">{{article.content}}</p>
    <p class="fw-bold">{{article.author}}</p>
    <p>{{article.created_at}}</p>

     <div class='buttons'>
       <a href="{% url 'article_detail' article.id %}">
       <button class="button">show</button>
       </a>
       <a href="{% url 'update' article.id %}">
       <button class="button">update</button>
       </a>
       <a href="{% url 'delete' article.id %}">
       <button class="button">delete</button>
       </a>
     </div>

  </div>
  </div>

{% endfor %}
</div>
{% endblock %}