{% extends 'base.html' %}

{% block content %}
 <div class="mainbox">
  <div class='box'> 
    <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div >
  <div  >
    <input type="text"  placeholder="Title" name="title" class='input'>
  </div>
  <div class="col-md-12">
    <input type="text" placeholder="Content" name="content" class='input'>
  </div>
  <div class="col-md-12">
    <input type="text" placeholder="Auther" name="author" class='input'>
  </div>
    <button type="submit" class='button_form'>submit</button>
</div>
</form>
  </div>
 </div>
{% endblock %}